@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Itim&family=Qwitcher+Grypen:wght@400;700&family=Updock&display=swap');
body{
    font-family: "Itim", system-ui !important; 
}
#chan{
    position: fixed !important;
    top: 0 !important;
    left: 0 !important;
    z-index: 100 !important;
    padding-left:60px ;
    padding-right: 30px;
    box-shadow: 2px 2px 5px rgb(14, 255, 1);
    background-color: rgb(32, 32, 33) !important;
    width: 100%;
}
#navbarSupportedContent .nav-link{
    color: rgb(255, 255, 255);
    margin-left: 150px !important;
    text-align: center;
    justify-content: space-around;
    border-bottom: 2px solid transparent;
}
#navbarSupportedContent .nav-link:hover{
    color: rgb(0, 255, 30);
    border-bottom: 2px solid  rgb(21, 255, 12);
}
.navbar-brand{
    color: rgb(0, 255, 0) !important;
    border-bottom: 2px solid transparent;
    /* font-family: "Qwitcher Grypen", cursive !important; */
    font-size: 30px !important;
    font-family: "Indie Flower", cursive !important;
}
.navbar-brand:hover{
    border-bottom: 2px solid rgb(128, 255, 0);
    color: yellow !important;
}
.hebo{
    background-color: rgb(209, 255, 4) !important;
    color: rgb(0, 0, 0) !important;
    border-radius: 10px;
}
.hebo:hover{
    color: rgb(3, 3, 3) !important;
    background-color: rgb(153, 255, 0) !important;
    box-shadow: 2px 2px 2px white !important;
}
section{
    min-height: 100vh;
    width: 100%;
    display: flex;
}
#home{
    background-image:linear-gradient(rgba(0, 0, 0, 0.3),rgba(0, 0, 0, 0.4)), url(./bg1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position:center;
    flex-direction: column;
    width: 100% !important;
    box-shadow: 2px solid red;
}
#home h3 {
    color: rgb(255, 68, 0);
    letter-spacing: 10px;
    font-size: 60px;
    text-transform: uppercase;
    font-family: "Qwitcher Grypen", system-ui !important;
    text-shadow: 1px 1px 2px rgb(0, 255, 0),
    1px 2px 2px rgb(0, 255, 0),
    1px 3px 2px rgb(0, 255, 0),
    1px 4px 2px rgb(0, 255, 0),
    1px 5px 2px rgb(0, 255, 0),
    1px 6px 2px rgb(0, 255, 0), !important;
}
#home p{
    color: white;
}
.cont{
    margin-left: 600px !important;
    margin-top: 200px !important;
    text-align: justify !important;
}
#sea{
    width: 400px !important;
    border-radius: 90px;
    height: 40px !important;
    padding-left: 60px;
    padding-right: 30px;
}
#sa{
    position: relative;
    left: 50px;
}
#homentn{
    padding: 5px;
    color: rgb(0, 0, 0);
    background-color: rgb(153, 255, 0);
    border-radius: 2px;
    
}
#homentn:hover{
    color: black !important;
    background-color: yellow !important;
}

#homea{
    background-image: linear-gradient(to right, rgb(155, 64, 64) ,rgb(255, 52, 86),rgb(158, 56, 56)) !important;

}

.hpmeab{
    margin-top: 250px !important;
    /* margin-left: 20px !important; */
}
.hpmeab h3{
    color: rgb(0, 0, 0) !important;
    font-family: "Itim", system-ui !important;
    font-size: 40px;
}

.hpmeab p{
    color: white !important;
    font-family: "Itim", system-ui !important;
}
#ua{
    border-bottom: 2px solid transparent !important;
}
#ua:hover{
    border-bottom: 2px solid rgb(0, 21, 255) !important;
    cursor: pointer;
}
.hpmeaa{
    background-image: url(./s3.png);
}
#ub{
    border-bottom: 2px solid transparent;
}
#ub:hover{
    border-bottom: 4px solid rgb(0, 0, 0) !important;
    cursor: pointer;
}
.hpmeaa{
    background-image: url(./s5.png);
    background-position:157px 121px;
    background-repeat: no-repeat;
    background-size: 551px 550px;
}
#product{
    background-color: rgb(0, 0, 0);
}

#product h2{
    color: rgb(4, 255, 0);
    font-size: 40px;
    padding-top: 50px !important;
    text-align: center;
    margin-bottom: 50px;
    font-family: "Itim", system-ui;
}
.pro{
    border-bottom: 2px solid transparent;
}
.pro:hover{
    border-bottom: 2px solid white;
    cursor: pointer;
}
#product .card{
    width: 250px;
    height: 350px;
    margin-left: 110px;
    margin-bottom: 40px;
    border: none;
    background-color: rgb(255, 255, 255);
    box-shadow: 15px 20px 20px rgb(0, 0, 0),
    inset 4px 4px 10px rgb(184, 183, 183)  ;
    border-radius: 20px;
}
#product .card:hover{
    box-shadow:inset 5px 5px 10px rgb(0, 255, 8),
    inset -4px -4px 10px rgb(0, 255, 187);
    cursor: pointer;
    transition: 0.2s;
}
#product img{
    width: 200px;
    height: 200px;
    margin-left: 20px;
}
.card-text{
    font-size: 10px;
    color: rgb(0, 0, 0);
}
.card-body{
    text-align: center;
}
#con{
    background-color: aliceblue;
    height: 700px !important;
}
#cons{
    font-size: 40px;
    text-align: center;
    color: rgb(0, 0, 0);
    border-bottom: 2px solid transparent;
    margin-left: 650px;
    margin-top: 50px !important;
    margin-bottom: 20px !important;
    padding-top: 30px !important;
    padding-bottom: 20px !important;
    font-family: "Itim", system-ui !important;
}
#cons:hover{
    border-bottom: 2px solid rgb(0, 0, 0);
    cursor: pointer;
}
#conlef{
    margin-top: 40px !important;
    padding: 30px !important;
}
footer{
    color: white;
    background-color: black;
    text-align: center;
    font-size: 20px;
    font-family: "Itim", system-ui !important;
}